/* You can add global styles to this file, and also import other style files */

html, body { height: 100%; }
body { margin: 0; font-family: Roboto, "Helvetica Neue", sans-serif; }

@import 'ngx-toastr/toastr';

/* Estilos personalizados para os toasts */
.toast-error {
  background-color: #f44336 !important; /* Vermelho */
  color: white !important;
}

.toast-success {
  background-color: #4caf50 !important; /* Verde */
  color: white !important;
}

.toast-info {
  background-color: #2196f3 !important; /* Azul */
  color: white !important;
}

.toast-warning {
  background-color: #ff9800 !important; /* Laranja */
  color: white !important;
}
